<style>
    body{
	    padding:0px;
	    margin:0px;
	    border:2px;
	    border-style: solid;
		border: 2px solid white;
        border-radius: 10px;
		font-family: sans-serif;}
		
	h1{
	    color:white;}
	h2{
		color:white;
	}
		
    abbr {
	 font-style:bold;}
	 
    ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;}
		
	li{
		float: left;}
		
	li a{
		display: block;
		color: teal;
		text-align: center;
		padding: 10px 12px;
		text-decoration: none;}
		
	li a:hover:not(.active){
							background-color: orange;}

	.active:hover{
					background-color: orange;}
	*{
		box-sizing: border-box;}
		
	.container {
				position: relative;
				border-radius: 5px;
				background-color:skyblue;
				padding: 20px 0 30px 0;} 
	input,
	.btn{
		width: 25%;
		padding: 12px;
		border: none;
		border-radius: 4px;
		margin: 5px 0;
		opacity: 0.85;
		display: inline-block;
		font-size: 17px;
		line-height: 20px;
		text-decoration: none; }

	input:hover,
	.btn:hover {
				opacity: 1;}
				
	input[type=submit] {
						background-color: #4CAF50;
						color: white;
						cursor: pointer;}

	input[type=submit]:hover {
							background-color: #45a049;}
							float: left;
							width: 50%;
							margin: auto;
							padding: 0 50px;
							margin-top: 6px;}
							
	.row:after {
				content: "";
				display: table;
				clear: both;}

	.vl {
		position: absolute;
		left: 25%;
		transform: translate(-25%);
		border: 2px solid #ddd;
		height: 100px;}

	.vl-innertext {
					position: absolute;
					top: 25%;
					transform: translate(-25%, -25%);
					background-color: #f1f1f1;
					border: 1px solid #ccc;
					border-radius: 100%;
					padding: 8px 10px;}

	.hide-md-lg {
				display: none;}
</style>