<h4 class="text-banner-title">Categories To Bag</h4>
<div class="row">
  <div class="col-12 col-md-3 col-sm-3 col-xl-3" *ngFor="let i of data"
    style="background-color: #009688;border: thin;">
    <center>
      <div class="thumbnail">
        <a href="/w3images/lights.jpg">
          <img
            src="./../../assets/homec/{{ i.imgs }}"
            alt="Lights"
            class="img-fluid"
            width="150px"
            height="100px"
            class="img-fluid"
          />
          <div class="caption" style="color: white;">
            <p>{{ i.des }}</p>
          </div>
        </a>
      </div>
    </center>
  </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  data-interval="1500">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row" style="background-color: rgb(194, 241, 98);">
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a2.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a3.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a5.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/homec/a5.jpg" alt="Random first slide" />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row" style="background-color: rgb(194, 241, 98);">
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a4.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a6.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/a2.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-3 col-md-3 sliderimg">
          <img src="./../../assets/homec/shirts.jpg" alt="Random first slide" />
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
