*{
    margin: 0px;
    padding: 0px;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #2E151B 2%, #2F4454 12%, #1C3334 15%, rgb(21, 43, 44) 2%, #2F556B 8%, #376E6F 25%, #DA7B93);
    background-size: cover;
}
.container {
    padding-left: 91px;
    padding-right: 110px;
    display: 1px solid white;
}
h1 {
    font-size: 40px;
    color: white;
}
small {
    font-size: 19px;
    color: white;
}
.glyphicn-send {
    font-size: 60px;
    color: lightblue;
    margin-top: 30px;
}
.label {
    font-size: 19px;
    color: white;
}
.form-control {
    background: transparent;
    color: white;
    border-radius: 0px;
    border: 0px;
    font-size: 21px;
    border-bottom: 1px solid  white;
    margin-bottom: 15px
}
